# IDE and build system files
.vscode/*
.idea/
build/
dist/
compile_commands.json
*.code-workspace

# PlatformIO files
.pio
.nix-platformio

# Python virtual environments
venv/

# cache files
cache/

# dependency directories
node_modules/

# docs
manual/